@font-face {
    font-family: 'SF-Pro';
    src: url('./assets/SF-UI-Text-Regular.otf');
}

* {
    transition: all 150ms;
}

html,
body {
    margin: 0;
    padding: 0;
    color: floralwhite;
    font-family: 'SF-Pro';
    font-size: 1.3em;
    height: 100%;
    width: 100%;
    /* overflow: hidden; */
    background-color: #1d1d1d;
    display: flex;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

@keyframes loadIcon {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1.1);
    }
}

#loadingIcon {
    width: 30vw;
    height: 30vw;

    animation: 3s ease-in-out loadIcon infinite alternate;
}

.btn {
    color: floralwhite;
    border: floralwhite 3px solid;
    background-color: #1d1d1d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    color: #1d1d1d;
    background-color: floralwhite;
}

/* ---------- startMenu ---------- */

#startMenu-title {
    flex: 1.8;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
    /* background-color: aqua; */
}

#startMenu-btns {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blueviolet; */
}

.startMenu-btn {
    height: 7vh;
    border-radius: 7vh;
    line-height: 7vh;
    text-align: center;
    font-size: .85em;
    width: 40%;
    border: floralwhite 3px solid;
}

#startMenu-spacer {
    flex: .7;
    /* background-color: thistle; */
}

/* ------------------------------- */


/* ----------- pregame ----------- */

#pregame-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5em;
}

#pregame-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#pregame-playerlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 30%;
    font-size: 1.2em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#pregame-playerlist span {
    display: block;
    width: 50%;
    text-align: center;
    border-bottom: floralwhite 1px solid;
}

#pregame-playerlist span:last-of-type {
    border-bottom: none;
}

#pregame-playernameInp {
    border: none;
    width: 60vw;
    height: 8.5vh;
    line-height: 8vh;
    text-align: center;
    font-size: 1.5em;
    border-bottom: floralwhite 3px solid;
    color: floralwhite;
    background-color: transparent;
}

#pregame-addPlayerBtn {
    height: 10vh;
    width: 10vh;
    border-radius: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: floralwhite 2px solid;
    background-color: transparent;
    color: floralwhite;
    font-size: 2em;
}

#pregame-playBtn {
    height: 6vh;
    width: 50vw;
    border-radius: 6vh;
    font-size: .9em;
    border: floralwhite 2px solid;
    background-color: transparent;
    color: floralwhite;
}

.pregame-hidden {
    position: absolute;
    opacity: 0%;
}

/* ------------------------------- */