@font-face {
    font-family: 'SF-Pro';
    src: url('./assets/SF-UI-Text-Regular.otf');
}

* {
    transition: all 150ms;
}

html,
body {
    margin: 0;
    padding: 0;
    color: floralwhite;
    font-family: 'SF-Pro';
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #1d1d1d;
    display: flex;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

@keyframes loadIcon {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1.1);
    }
}

#loadingIcon {
    width: 30vw;
    height: 30vw;

    animation: 3s ease-in-out loadIcon infinite alternate;
}

/* ---------- startMenu ---------- */

#startMenu-title {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

#startMenu-btns {
    display: flex;
    flex-direction: column;
    flex: 2;
}

#startMenu-btns div {
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 10%;
    padding-right: 10%;
}

#startMenu-spacer {
    flex: .3;
}

#startMenu-btns div[right] {
    justify-content: flex-end;
}

#startMenu-btns div[left] {
    justify-content: flex-start;
}

#startMenu-btns div span {
    display: block;
    background-color: blue;
    height: 10vh;
    border-radius: 10vh;
    line-height: 10vh;
    font-size: 1.5em;
    text-align: center;
    width: 60%;
    box-shadow: hsla(0, 0%, 0%, 80%) 6px 6px 13px 0px;
}

#startMenu-btns div[right] span {
    border-bottom-right-radius: 0;
}

#startMenu-btns div[left] span {
    border-bottom-left-radius: 0;
}

/* ------------------------------- */