@font-face {
    font-family: 'SF-Pro';
    src: url('./assets/SF-UI-Text-Regular.otf');
}

* {
    transition: all 150ms;
}

html,
body {
    margin: 0;
    padding: 0;
    color: floralwhite;
    font-family: 'SF-Pro';
    font-size: 1.3em;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #1d1d1d;
    display: flex;
}

#root {
    display: flex;
    flex: 1;
    flex-direction: column;
}

@keyframes loadIcon {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1.1);
    }
}

#loadingIcon {
    width: 30vw;
    height: 30vw;

    animation: 3s ease-in-out loadIcon infinite alternate;
}

.btn {
    color: floralwhite;
    border: floralwhite 3px solid;
    background-color: #1d1d1d;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    color: #1d1d1d;
    background-color: floralwhite;
}

/* ---------- startMenu ---------- */

#startMenu-title {
    flex: 1.8;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2em;
    /* background-color: aqua; */
}

#startMenu-btns {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: blueviolet; */
}

a {
    text-decoration: none;
}

.startMenu-btn {
    height: 7vh;
    border-radius: 7vh;
    line-height: 7vh;
    text-align: center;
    font-size: .85em;
    width: 45vw;
    border: floralwhite 3px solid;
}

#startMenu-spacer {
    flex: .7;
    /* background-color: thistle; */
}

/* ------------------------------- */


/* ----------- pregame ----------- */

#pregame-title {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 2.5em;
}

#pregame-content {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#pregame-playerlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    height: 30%;
    font-size: 1.2em;
    overflow-y: scroll;
    overflow-x: hidden;
}

#pregame-playerlist span {
    display: block;
    width: 50%;
    text-align: center;
    border-bottom: floralwhite 1px solid;
}

#pregame-playerlist span:last-of-type {
    border-bottom: none;
}

#pregame-playernameInp {
    border: none;
    width: 60vw;
    height: 8.5vh;
    line-height: 8vh;
    text-align: center;
    font-size: 1.5em;
    border-bottom: floralwhite 3px solid;
    color: floralwhite;
    background-color: transparent;
}

#pregame-addPlayerBtn {
    height: 10vh;
    width: 10vh;
    border-radius: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: floralwhite 2px solid;
    background-color: transparent;
    color: floralwhite;
    font-size: 2em;
}

#pregame-playBtn {
    height: 6vh;
    width: 50vw;
    border-radius: 6vh;
    font-size: .9em;
    border: floralwhite 2px solid;
    background-color: transparent;
    color: floralwhite;
}

.pregame-hidden {
    position: absolute;
    visibility: hidden;
}

/* ------------------------------- */

/* ------------ play ------------- */

#play-name {
    flex: 1.8;
    display: flex;
    font-size: 1.8em;
    align-items: flex-end;
    justify-content: center;
}

/* #play-cardWrapper {
    flex: 7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

#play-spacer {
    flex: 8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: hsl(40, 5%, 50%);
    font-size: .7em;
}

#card-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    height: 50vh;
    position: absolute;
    /* transform: translate(-50%, -40%); */
    transform: matrix(1, 0, 0, 1, 0, 40);
    transition: all 0ms;
    width: calc(50vh * .66);
    border-radius: 5vh;
    border: floralwhite 5px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1d1d1d;
    box-shadow: hsla(0, 0%, 0%, 60%) 0px 8px 20px;
}

#card-title {
    flex: 1;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#card-text {
    flex: 5;
    word-wrap: normal;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7em;
    text-align: center;
    width: 80%;
}

#card-footer {
    flex: 1;
    width: 85%;
    font-size: .8em;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

#card-set {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-alt {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}

#card-alt svg {
    margin-right: 3vw;
}

/* ------------------------------- */